{% extends "base.html" %}

{% block content %}
<h2>Dados Registrados</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Data de Nascimento</th>
            <th>Contato</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for paciente in pacientes %}
        <tr>
            <td>{{ paciente[0] }}</td>
            <td>{{ paciente[1] }}</td>
            <td>{{ paciente[2] }}</td>
            <td>{{ paciente[3] }}</td>
            <td>
                <a href="{{ url_for('apagar_paciente', id=paciente[0]) }}" class="btn-delete">Apagar</a>
                <a href="{{ url_for('editar_paciente', id=paciente[0]) }}" class="btn-edit">Editar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
